body {
  color: #757575;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03;
}
:root {
  --headers: #212121;
  --background: #ffffff;
  --paragraphs: #757575;
  --WebLogo: #2196f3;
  --Background-box: #eeeeee;
  --StudioLogo: #000000;
  --TeamSectionBackground: #f5f4fa;
  --MainSectionAndFooter: #2f303a;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--StudioLogo);
  text-decoration: none;
}
.header-logo-web {
  color: var(--WebLogo);
}
.nav-list {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: var(--headers);
}
.nav-list-item {
  list-style-type: none;
}
.contact-list {
  list-style-type: none;
}
.nav-list-item .nav-list-item-link {
  color: var(--headers);
  text-decoration: none;
}
.nav-list-item .nav-list-item-link:hover,
.nav-list-item .nav-list-item-link:focus {
  color: var(--WebLogo);
}

.contact-list {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}
.contact-list-link {
  text-decoration: none;
  color: var(--paragraphs);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--WebLogo);
}
.nav-list-item-link-current {
  color: var(--WebLogo);
  text-decoration: none;
}
.section-header-main {
  width: 1600px;
  height: 600px;
  background: var(--MainSectionAndFooter);
}
.header-main {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background);
}
.button-header-main {
  background: var(--WebLogo);
  color: var(--background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style: none;
  text-decoration: none;
}
.first-section-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  text-transform: uppercase;
  color: var(--headers);
}

.first-section-paragraph {
  line-height: 1.71;
}

.third-section {
  background: var(--TeamSectionBackground);
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers);
}

.employee-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--StudioLogo);
}
.job-postion {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.button-list {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--headers);
  list-style: none;
}
.button-list .button-list-item {
  background: var(--TeamSectionBackground);
  cursor: pointer;
  color: var(--headers);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.button-list .button-list-item:hover,
.button-list .button-list-item:focus {
  background: var(--WebLogo);
  color: var(--background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.box-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headers);
}
.box-paragraph {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.footer {
  background: var(--MainSectionAndFooter);
}
.address-footer {
  font-style: initial;
}
.footer-header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--background);
  text-decoration: none;
}

.footer-list-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--background);
  text-decoration: none;
}

.footer-list-link-address {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--background);
  text-decoration: none;
}

.footer-list-link:hover,
.footer-list-link:focus {
  color: var(--WebLogo);
}
.footer-list-link-address:hover {
  color: var(--WebLogo);
}
